[Unit]
Description=Guess image telegram bot

[Service]
User=alex-arkhipov
Group=alex-arkhipov
Type=exec
WorkingDirectory=/home/alex-arkhipov/Neo
ExecStart=/home/alex-arkhipov/python-venv/bin/python3 /home/alex-arkhipov/Neo/guess-image/GuessImage_Bot.py > /home/alex-arkhipov/Neo/logs/bot_output.log 2>&1
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutSec=5
RestartSec=5
Restart=always
